/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
#block-outreach-maps-outreach-maps-county-list .block-content {
  -webkit-columns: 4;
  -moz-columns: 4;
  -ms-columns: 4;
  -o-columns: 4;
  columns: 4;
}
