/*
 * @file
 * Main SASS file for outreach theme. Imports all other mixins.
 */
/* line 17, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/**
 * @file
 * This file holds all typography styling, excluding mixins, for the outreach theme SASS.
 */
/* =============================================================================
 *   Variables
 * ============================================================================= 
 */
/* =============================================================================
 *   Headings
 * ============================================================================= 
 */
/**
 * @file
 * This file holds all variables and mixins for the outreach theme SASS.
 */
/* =============================================================================
 *   Colors
 * ============================================================================= 
 */
/**
 * @file
 * This file holds all HTML forms styling for the outreach theme SASS.
 */
/* =============================================================================
 *   Field Group Module
 * ============================================================================= 
 */
/* line 10, ../sass/_forms.scss */
.field-group-fieldset {
  margin: 1em 0 1em 0;
  padding: 1em;
  border: 2px groove threedface; }
  /* line 15, ../sass/_forms.scss */
  .field-group-fieldset .fieldset-legend .fieldset-title {
    color: #333333;
    font-size: 1.2em; }
  /* line 20, ../sass/_forms.scss */
  .field-group-fieldset .field-label {
    margin-bottom: 24px; }

/**
 * @file
 * This file holds all HTML table styling for the outreach theme SASS.
 */
/* =============================================================================
 *   Tables
 * ============================================================================= 
 */
/* line 10, ../sass/_tables.scss */
table {
  width: 100%; }
  /* line 14, ../sass/_tables.scss */
  table thead tr th {
    text-align: center;
    padding: 2px; }
    /* line 17, ../sass/_tables.scss */
    table thead tr th a {
      font-size: 0.95em;
      color: #333333; }
  /* line 25, ../sass/_tables.scss */
  table tr td {
    text-align: center;
    padding: 5px;
    border-left: 1px solid white; }

/* =============================================================================
 *   General
 * ============================================================================= 
 */
/* line 19, ../sass/screen.scss */
.full-wrapper {
  width: 100%; }

/* =============================================================================
 *   Header
 * ============================================================================= 
 */
/* line 27, ../sass/screen.scss */
#header {
  width: 960px;
  margin: 0 auto;
  padding: 1em 0 0 0; }
  /* line 31, ../sass/screen.scss */
  #header #site-name {
    font-size: 3em; }
    /* line 33, ../sass/screen.scss */
    #header #site-name a {
      color: #333333;
      text-decoration: none; }
  /* line 38, ../sass/screen.scss */
  #header #site-slogan {
    font-style: italic; }

/* =============================================================================
 *   Navigation
 * ============================================================================= 
 */
/* line 47, ../sass/screen.scss */
#navigation {
  width: 960px;
  margin: 0 auto;
  padding: 1em 0 0 0;
  float: none; }
  /* line 52, ../sass/screen.scss */
  #navigation ul {
    float: right; }
    /* line 54, ../sass/screen.scss */
    #navigation ul li {
      display: inline; }
      /* line 56, ../sass/screen.scss */
      #navigation ul li a {
        padding: 1em; }

/* =============================================================================
 *   Main
 * ============================================================================= 
 */
/* line 67, ../sass/screen.scss */
#main {
  width: 960px;
  margin: 0 auto;
  min-height: 500px; }
  /* line 71, ../sass/screen.scss */
  #main #page-title {
    font-size: 2em; }

/* =============================================================================
 *   Map
 * =============================================================================
 */
/* line 80, ../sass/screen.scss */
#map {
  width: 960px;
  margin: 0 auto;
  height: 500px; }

/* =============================================================================
 *   Footer
 * =============================================================================
 */
/* line 90, ../sass/screen.scss */
#footer {
  width: 960px;
  margin: 0 auto;
  padding: 1em; }
