.section-about-us{
  .panel-col-last{
    .menu-block-wrapper{
      ul.menu{
        padding: 0;
        .leaf, .expanded{
          list-style-type: none;
          list-style-image: none;
        }
        .expanded{
          ul{
            padding-left: 10px;
          }
        }
      }
    }
  }
}
