// This is the base SASS file for the Outreach Maps module. It holds
// configuration options, mixins, variables, etc.

// Import compass libraries.
@import "compass/support";
@import "compass/css3";

// Variables
$white:       #ffffff;
$grey:        #3b3b3c;
$black:       #000000;
