// This file holds the Outreach Maps module SASS styles that compiles to CSS.
// The Outreach theme is based on AT3 and if that theme changes, the map layout
// and styles will be affected.

// Import base partial.
@import "base";

/* =============================================================================
 *   AT3 Overrides
 * ========================================================================== */

/*
 * Wraps the main-content-header, the content region and feed-icons. Use this
 * wrapper to style the entire main content column
 */
.node-type-map #main-content {
  margin-left: 0;
  margin-right: 0;
}

/*
 * Wraps the header
 */
.node-type-map #header-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  .container {
    max-width: 100%;
  }
}

.logged-in.node-type-map #header-wrapper {
  top: 30px;
}

/*
 * Wraps the main content column
 */
.node-type-map #content-wrapper {
  .container {
    max-width: 100%;
    margin: 0 auto;
  }
}

/* =============================================================================
 *   MapBox
 * ========================================================================== */
#map {
  position: absolute;
  width: 100%;
  height: 100%;
}

.county-marker, .house-marker, .senate-marker, .congressional-marker {
  position: absolute;  // Markers have to be positioned absolutely.
  pointer-events: all;  // Allows for interactive markers.
  color: $grey;
  @include text-shadow(1px 1px 1px rgba($grey, 0.4));
}

.smaller {
  font-size: 70%;
  margin-left: -10px;
}

.marker-popup {
  h3 {
    margin: 0 0;
  }
}

.zoomer {
  top: 80px;
}

.ajax-progress-throbber {
  display: none !important;
}

/* =============================================================================
 *   County
 * ========================================================================== */
 .county-marker {
  margin-left: -20px;
  margin-top: -10px;
 }

.ida, .sac {
  margin-left: -10px;
}

.winnebago, .winneshiek, .palo-alto, .chickasaw, .pocahontas, .humboldt, .black-hawk, .audubon, .poweshiek, .washington, .appanoose, .van-buren, .des-moines {
  margin-left: -30px;
}

.cerro-gordo, .buena-vista, .montgomery, .pottawattamie {
  margin-left: -35px;
}

/* =============================================================================
 *   House
 * ========================================================================== */
.house-marker {
  margin-left: -10px;
  margin-top: -10px;
}

/* =============================================================================
 *   Senate
 * ========================================================================== */
.senate-marker {
  margin-left: -10px;
  margin-top: -10px;
}

.senate-1 {
  margin-top: -30px;
}

 /* =============================================================================
 *   Congessional
 * ========================================================================== */
 .congressional-marker {
  margin-left: -10px;
  margin-top: -10px;
}
