// This file holds the Outreach Maps module SASS styles that compiles to CSS.
// The Outreach theme is based on AT3 and if that theme changes, the map layout
// and styles will be affected.

// Import base partial.
@import "base";

/* =============================================================================
 *   AT3 Overrides
 * ========================================================================== */

/*
 * Wraps the main-content-header, the content region and feed-icons. Use this
 * wrapper to style the entire main content column
 */
.node-type-map #main-content {
  margin-left: 0;
  margin-right: 0;
}

/*
 * Wraps the header
 */
.node-type-map #header-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  .container {

  }
}

.logged-in.node-type-map #header-wrapper {
  top: 30px;
}

/*
 * Wraps the main content column
 */
.node-type-map #content-wrapper {
  .container {
    max-width: 100%;
    margin: 0 auto;
  }
}

/* =============================================================================
 *   MapBox
 * ========================================================================== */
#map {
  position: absolute;
  width: 100%;
  height: 100%;
}

#map-ui {
  position: absolute;
  top: 150px;
  left: 10px;
  z-index: 100;
  ul {
    list-style: none;
    margin: 0 0 20px 0;
    padding: 0;
    a {
      font-size: 13px;
      background: rgba($white, 0.7);
      color: $grey;
      display: block;
      margin: 0;
      padding: 0;
      border: 1px solid darken($white, 20%);
      border-bottom-width: 0;
      width: 49px;
      padding: 5px;
      text-decoration: none;
      &:hover {
        background: rgba(darken($white, 10%), 0.7);
      }
      &.wide {
        min-width: 120px;
      }
    }
    li:last-child a {
      border-bottom-width: 1px;
      @include border-radius(0 0 3px 3px);
    }
    li:first-child a {
      @include border-radius(3px 3px 0 0);
    }
  }
}

.zoomer {
  @include opacity(0.5);
}

.county-marker, .house-marker, .senate-marker, .congressional-marker, .cluster-marker {
  position: absolute;  // Markers have to be positioned absolutely.
  pointer-events: all;  // Allows for interactive markers.
  color: $grey;
  @include text-shadow(1px 2px 2px rgba(lighten($grey, 60%), 0.4));
}

.smaller {
  font-size: 60%;
  margin-left: -10px;
}

.marker-popup {
  color: $grey;
  h3 {
    margin: 0 0;
  }
}

.zoomer {
  top: 80px;
}

.ajax-progress-throbber {
  display: none !important;
}

.field-name-field-county .field-item {
  // Float these side by side?
}

.cluster {
  display: none;
}

// .cluster-marker {
//   height: 80px;
//   width: 80px;
//   @include border-radius(40px);
//   background-color: rgba($grey, 0.2);
// }


/* =============================================================================
 *   County
 * ========================================================================== */
 .county-marker {
  margin-left: -20px;
  margin-top: -10px;
 }

.ida, .sac {
  margin-left: -10px;
}

.winnebago, .winneshiek, .palo-alto, .chickasaw, .humboldt, .audubon, .buchanan, .delaware, .poweshiek, .washington, .appanoose, .van-buren, .des-moines, .marshall {
  margin-left: -30px;
}

.cerro-gordo, .buena-vista, .montgomery, .pocahontas, .pottawattamie, .black-hawk {
  margin-left: -40px;
}

/* =============================================================================
 *   House
 * ========================================================================== */
.house-marker {
  margin-left: -10px;
  margin-top: -10px;
}

.house-21 {
  margin-top: 5px;
}

.house-72 {
  margin-left: 5px;
}


/* =============================================================================
 *   Senate
 * ========================================================================== */
.senate-marker {
  margin-left: -10px;
  margin-top: -10px;
}

.senate-1 {
  margin-top: -30px;
}

 /* =============================================================================
 *   Congessional
 * ========================================================================== */
 .congressional-marker {
  margin-left: -10px;
  margin-top: -10px;
}
