/**
 * @file
 * This file holds all variables and mixins for the outreach theme SASS.
 */
 
/* =============================================================================
 *   Colors
 * ============================================================================= 
 */

$dark_grey:   #333333;
$grey:        #666666;
$off_white:   #EEEEEE;
$white:       #FFFFFF;