
// _base.scss imports _custom.scss and other partials.
@import "base";

/*
 * responsive.custom.css is for custom media queries that are not set via the
 * theme settings, such as cascading media queries.
 *
 * By default all the other responsive stylesheets used in Adaptivetheme use a
 * "stacking method", however cascading media queries use a waterfall method so
 * you can leverage the cascade and inheritance for all browsers that support
 * media queries, regardless of screen size.
 *
 * @SEE http://zomigi.com/blog/essential-considerations-for-crafting-quality-media-queries/#mq-overlap-stack
 *
 * NOTE: this file loads by default, to disable got to your theme settings and
 * look under the "CSS" settings tab.
 */

/*
 * Smartphone sizes and up
 */
/* @media only screen and (min-width: 320px) {} */

@media only screen and (max-width: 1040px) {
  #facebook, #twitter, #plusone {
    float: none;
  }
}

/*
 * Mid-tablet sizes and down
 */
@media only screen and (max-width: 1024px) {
 // tinyNav
#primary-menu-bar {
  ul.menu {
    display: none;
  }
  .tinynav {
    display: block;
  }
  .selector {
    display: block;
  }
}

  // Hide the county jump links on small screens.
  .easing-menu {
    display: none;
  }
}

/*
 * Tablet portrait and down
 */
@media only screen and (max-width: 768px) {
  #site-slogan {
    font-size: 100%;
    margin-top: 18px;
  }

  .panel-panel {
    float: none;
    width: 100%;
  }

  #facebook, #twitter, #plusone {
    float: left;
  }
}

/*
 * Whatever and down
 */
@media only screen and (max-width: 720px) {
  #site-name {
    a {
      &:link,
      &:visited {
        @include ir();
        margin-top: 1px;
        width: 23px;
        height: 38px;
        background: url("images/dome.png") center no-repeat;
      }
    }
  }
}

/*
 * Smartphone sizes and down
 */
@media only screen and (max-width: 480px) {
  #site-slogan {
    display: none;
  }

  #facebook, #twitter, #plusone {
    float: none;
  }

  .node-type-map #footer p {
    display: none;
  }

  /*
   * Float Region blocks example:
   * In smaller screen sizes we can remove the float and widths so all blocks
   * stack instead of displaying horizonally. The selector used here is an
   * "attribute selector" which will match on any float block class. Use your
   * inspector or Firebug to get the classes from the page output if you need
   * more granular control over block alignment and stacking.
   *
   * "Float Region blocks" is an extension for floating blocks in regions, see
   * your themes appearance settings, under the Extensions tab.
   */
  .region[class*="float-blocks"] .block {
    float: none;
    width: 100%;
  }
}

// iOS fullscreen
@media only screen and (height : 320px) and (orientation : landscape) {
  /*
   * Footer wrapper
   */
  .node-type-map #footer-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
  }
}

