/*
 * @file
 * Main SASS file for outreach theme. Imports all other mixins.
 */

@import "compass/reset";
@import "_type.scss";
@import "_colors.scss";
@import "_forms.scss";
@import "_tables";
 
/* =============================================================================
 *   General
 * ============================================================================= 
 */
 body {
 }
 
 .full-wrapper {
   width: 100%;
 }
 
/* =============================================================================
 *   Header
 * ============================================================================= 
 */
#header {
	width: 960px;
	margin: 0 auto;
  padding: 1em 0 0 0;	
  #site-name {
	 font-size: 3em;
	 a {
     color: $dark_grey;
     text-decoration: none;
	 }
  }
  #site-slogan {
    font-style: italic;
  }
}

/* =============================================================================
 *   Navigation
 * ============================================================================= 
 */
 #navigation {
  width: 960px;
  margin: 0 auto;
  padding: 1em 0 0 0;
  float: none;
   ul {
    float: right;
     li {
       display: inline;
       a {
         padding: 1em;
       }
     }
   }
 }

/* =============================================================================
 *   Main
 * ============================================================================= 
 */
#main {
	width: 960px;
	margin: 0 auto;
	min-height: 500px;
	#page-title {
	  font-size: 2em;
	}
}
 
/* =============================================================================
 *   Map
 * =============================================================================
 */
#map {
	width: 960px;
  margin: 0 auto;
	height: 500px;
}

/* =============================================================================
 *   Footer
 * =============================================================================
 */
#footer {
	width: 960px;
  margin: 0 auto;
  padding: 1em;
}