/*
 * @file
 * Main SASS file for outreach theme. Imports all other mixins.
 */

@import "compass/reset";
@import "_type";
@import "_colors";
@import "_forms";
@import "_tables";
@import "_views";
 
/* =============================================================================
 *   General
 * ============================================================================= 
 */
 body {
 }
 
 .full-wrapper {
   width: 100%;
 }
 
/* =============================================================================
 *   Header
 * ============================================================================= 
 */
#header {
  padding: 1em 0 0 0;	
  #site-name {
	 font-size: 3em;
	 a {
     color: $dark_grey;
     text-decoration: none;
	 }
  }
  #site-slogan {
    font-style: italic;
  }
}

/* =============================================================================
 *   Navigation
 * ============================================================================= 
 */
 #navigation {
  padding: 1em 0 0 0;
  float: none;
   ul {
    float: right;
     li {
       display: inline;
       a {
         padding: 1em;
       }
     }
   }
 }

/* =============================================================================
 *   Main
 * ============================================================================= 
 */
#main {
	min-height: 500px;
	#page-title {
	  font-size: 2em;
	}
}
 
/* =============================================================================
 *   Map
 * =============================================================================
 */
#map {
	height: 500px;
}

/* =============================================================================
 *   Footer
 * =============================================================================
 */
#footer {
  padding: 1em;
}