/* =============================================================================
 *   AT3 Overrides
 * ========================================================================== */
/*
 * Wraps the main-content-header, the content region and feed-icons. Use this
 * wrapper to style the entire main content column
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rbporter\/drupal\/sites\/custom\/sites\/outreach\.uiowa\.edu\/modules\/custom\/outreach_maps\/sass\/outreach\.maps\.scss}line{font-family:\0000316}}
.node-type-map #main-content {
  margin-left: 0;
  margin-right: 0;
}

/*
 * Wraps the header
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rbporter\/drupal\/sites\/custom\/sites\/outreach\.uiowa\.edu\/modules\/custom\/outreach_maps\/sass\/outreach\.maps\.scss}line{font-family:\0000324}}
.node-type-map #header-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rbporter\/drupal\/sites\/custom\/sites\/outreach\.uiowa\.edu\/modules\/custom\/outreach_maps\/sass\/outreach\.maps\.scss}line{font-family:\0000335}}
.logged-in.node-type-map #header-wrapper {
  top: 30px;
}

/*
 * Wraps the main content column
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rbporter\/drupal\/sites\/custom\/sites\/outreach\.uiowa\.edu\/modules\/custom\/outreach_maps\/sass\/outreach\.maps\.scss}line{font-family:\0000343}}
.node-type-map #content-wrapper .container {
  max-width: 100%;
  margin: 0 auto;
}

/*
 * Footer wrapper
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rbporter\/drupal\/sites\/custom\/sites\/outreach\.uiowa\.edu\/modules\/custom\/outreach_maps\/sass\/outreach\.maps\.scss}line{font-family:\0000352}}
.node-type-map #footer-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 25px;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rbporter\/drupal\/sites\/custom\/sites\/outreach\.uiowa\.edu\/modules\/custom\/outreach_maps\/sass\/outreach\.maps\.scss}line{font-family:\0000361}}
#help-button {
  float: right;
  color: #eeeeee;
}

/* =============================================================================
 *   MapBox
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rbporter\/drupal\/sites\/custom\/sites\/outreach\.uiowa\.edu\/modules\/custom\/outreach_maps\/sass\/outreach\.maps\.scss}line{font-family:\0000369}}
#map {
  position: absolute;
  width: 100%;
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rbporter\/drupal\/sites\/custom\/sites\/outreach\.uiowa\.edu\/modules\/custom\/outreach_maps\/sass\/outreach\.maps\.scss}line{font-family:\0000375}}
#map-ui {
  position: absolute;
  top: 150px;
  left: 10px;
  z-index: 100;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rbporter\/drupal\/sites\/custom\/sites\/outreach\.uiowa\.edu\/modules\/custom\/outreach_maps\/sass\/outreach\.maps\.scss}line{font-family:\0000380}}
#map-ui ul {
  list-style: none;
  margin: 0 0 20px 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rbporter\/drupal\/sites\/custom\/sites\/outreach\.uiowa\.edu\/modules\/custom\/outreach_maps\/sass\/outreach\.maps\.scss}line{font-family:\0000384}}
#map-ui ul a {
  font-size: 13px;
  background: rgba(255, 255, 255, 0.7);
  color: #3b3b3c;
  display: block;
  margin: 0;
  padding: 0;
  border: 1px solid #cccccc;
  border-bottom-width: 0;
  width: 49px;
  padding: 5px;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rbporter\/drupal\/sites\/custom\/sites\/outreach\.uiowa\.edu\/modules\/custom\/outreach_maps\/sass\/outreach\.maps\.scss}line{font-family:\0000396}}
#map-ui ul a:hover {
  background: rgba(186, 186, 188, 0.7);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rbporter\/drupal\/sites\/custom\/sites\/outreach\.uiowa\.edu\/modules\/custom\/outreach_maps\/sass\/outreach\.maps\.scss}line{font-family:\0000399}}
#map-ui ul a.wide {
  min-width: 120px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rbporter\/drupal\/sites\/custom\/sites\/outreach\.uiowa\.edu\/modules\/custom\/outreach_maps\/sass\/outreach\.maps\.scss}line{font-family:\00003103}}
#map-ui ul li:last-child a {
  border-bottom-width: 1px;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -ms-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rbporter\/drupal\/sites\/custom\/sites\/outreach\.uiowa\.edu\/modules\/custom\/outreach_maps\/sass\/outreach\.maps\.scss}line{font-family:\00003107}}
#map-ui ul li:first-child a {
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rbporter\/drupal\/sites\/custom\/sites\/outreach\.uiowa\.edu\/modules\/custom\/outreach_maps\/sass\/outreach\.maps\.scss}line{font-family:\00003113}}
.map-attribution a {
  color: #3b3b3c;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rbporter\/drupal\/sites\/custom\/sites\/outreach\.uiowa\.edu\/modules\/custom\/outreach_maps\/sass\/outreach\.maps\.scss}line{font-family:\00003117}}
.zoomer {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rbporter\/drupal\/sites\/custom\/sites\/outreach\.uiowa\.edu\/modules\/custom\/outreach_maps\/sass\/outreach\.maps\.scss}line{font-family:\00003121}}
#share-dialog, #about-dialog {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rbporter\/drupal\/sites\/custom\/sites\/outreach\.uiowa\.edu\/modules\/custom\/outreach_maps\/sass\/outreach\.maps\.scss}line{font-family:\00003125}}
#facebook {
  display: block !important;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
  width: 77px;
  height: 20px;
  background: url("images/facebook_normal.png") center no-repeat;
  margin-bottom: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rbporter\/drupal\/sites\/custom\/sites\/outreach\.uiowa\.edu\/modules\/custom\/outreach_maps\/sass\/outreach\.maps\.scss}line{font-family:\00003133}}
#twitter {
  display: block !important;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
  width: 77px;
  height: 20px;
  background: url("images/twitter_normal.png") center no-repeat;
  margin-bottom: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rbporter\/drupal\/sites\/custom\/sites\/outreach\.uiowa\.edu\/modules\/custom\/outreach_maps\/sass\/outreach\.maps\.scss}line{font-family:\00003141}}
#plusone {
  display: block !important;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
  width: 77px;
  height: 20px;
  background: url("images/googleplus_normal.png") center no-repeat;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rbporter\/drupal\/sites\/custom\/sites\/outreach\.uiowa\.edu\/modules\/custom\/outreach_maps\/sass\/outreach\.maps\.scss}line{font-family:\00003148}}
.county-marker, .house-marker, .senate-marker, .congressional-marker, .cluster-marker {
  position: absolute;
  pointer-events: all;
  color: #3b3b3c;
  text-shadow: 1px 2px 2px rgba(212, 212, 213, 0.4);
  padding: 2px;
  font-size: 75%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rbporter\/drupal\/sites\/custom\/sites\/outreach\.uiowa\.edu\/modules\/custom\/outreach_maps\/sass\/outreach\.maps\.scss}line{font-family:\00003157}}
.smaller {
  font-size: 60%;
  margin-left: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rbporter\/drupal\/sites\/custom\/sites\/outreach\.uiowa\.edu\/modules\/custom\/outreach_maps\/sass\/outreach\.maps\.scss}line{font-family:\00003162}}
.marker-popup {
  color: #3b3b3c;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rbporter\/drupal\/sites\/custom\/sites\/outreach\.uiowa\.edu\/modules\/custom\/outreach_maps\/sass\/outreach\.maps\.scss}line{font-family:\00003164}}
.marker-popup h3 {
  margin: 10px 0 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rbporter\/drupal\/sites\/custom\/sites\/outreach\.uiowa\.edu\/modules\/custom\/outreach_maps\/sass\/outreach\.maps\.scss}line{font-family:\00003167}}
.marker-popup .see-more {
  display: block;
  margin: 10px 0 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rbporter\/drupal\/sites\/custom\/sites\/outreach\.uiowa\.edu\/modules\/custom\/outreach_maps\/sass\/outreach\.maps\.scss}line{font-family:\00003171}}
.marker-popup .field-name-field-county {
  overflow: hidden;
  *overflow: visible;
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rbporter\/drupal\/sites\/custom\/sites\/outreach\.uiowa\.edu\/modules\/custom\/outreach_maps\/sass\/outreach\.maps\.scss}line{font-family:\00003173}}
.marker-popup .field-name-field-county .field-item {
  width: 50%;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rbporter\/drupal\/sites\/custom\/sites\/outreach\.uiowa\.edu\/modules\/custom\/outreach_maps\/sass\/outreach\.maps\.scss}line{font-family:\00003176}}
.marker-popup .field-name-field-county .field-item .odd {
  text-align: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rbporter\/drupal\/sites\/custom\/sites\/outreach\.uiowa\.edu\/modules\/custom\/outreach_maps\/sass\/outreach\.maps\.scss}line{font-family:\00003183}}
.zoomer {
  top: 80px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rbporter\/drupal\/sites\/custom\/sites\/outreach\.uiowa\.edu\/modules\/custom\/outreach_maps\/sass\/outreach\.maps\.scss}line{font-family:\00003187}}
.ajax-progress-throbber {
  display: none !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rbporter\/drupal\/sites\/custom\/sites\/outreach\.uiowa\.edu\/modules\/custom\/outreach_maps\/sass\/outreach\.maps\.scss}line{font-family:\00003191}}
.cluster {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rbporter\/drupal\/sites\/custom\/sites\/outreach\.uiowa\.edu\/modules\/custom\/outreach_maps\/sass\/outreach\.maps\.scss}line{font-family:\00003202}}
#tooltip {
  position: absolute;
  z-index: 3000;
  width: 200px;
  border: 1px solid #111;
  background-color: #eee;
  padding: 5px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  font-size: 80%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rbporter\/drupal\/sites\/custom\/sites\/outreach\.uiowa\.edu\/modules\/custom\/outreach_maps\/sass\/outreach\.maps\.scss}line{font-family:\00003212}}
#tooltip h3, #tooltip div {
  margin: 0;
}

/* =============================================================================
 *   County
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rbporter\/drupal\/sites\/custom\/sites\/outreach\.uiowa\.edu\/modules\/custom\/outreach_maps\/sass\/outreach\.maps\.scss}line{font-family:\00003217}}
.county-marker {
  margin-left: -20px;
  margin-top: -10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rbporter\/drupal\/sites\/custom\/sites\/outreach\.uiowa\.edu\/modules\/custom\/outreach_maps\/sass\/outreach\.maps\.scss}line{font-family:\00003220}}
.county-marker.smaller {
  margin-left: -15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rbporter\/drupal\/sites\/custom\/sites\/outreach\.uiowa\.edu\/modules\/custom\/outreach_maps\/sass\/outreach\.maps\.scss}line{font-family:\00003225}}
.ida, .sac {
  margin-left: -10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rbporter\/drupal\/sites\/custom\/sites\/outreach\.uiowa\.edu\/modules\/custom\/outreach_maps\/sass\/outreach\.maps\.scss}line{font-family:\00003231}}
.cherokee, .winnebago, .winneshiek, .palo-alto, .humboldt, .audubon, .buchanan,
.delaware, .washington, .van-buren, .des-moines, .mahaska, .keokuk,
.marshall, .wapello, .jefferson, .fremont, .ringgold, .johnson {
  margin-left: -30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rbporter\/drupal\/sites\/custom\/sites\/outreach\.uiowa\.edu\/modules\/custom\/outreach_maps\/sass\/outreach\.maps\.scss}line{font-family:\00003233}}
.cherokee.smaller, .winnebago.smaller, .winneshiek.smaller, .palo-alto.smaller, .humboldt.smaller, .audubon.smaller, .buchanan.smaller,
.delaware.smaller, .washington.smaller, .van-buren.smaller, .des-moines.smaller, .mahaska.smaller, .keokuk.smaller,
.marshall.smaller, .wapello.smaller, .jefferson.smaller, .fremont.smaller, .ringgold.smaller, .johnson.smaller {
  margin-left: -20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rbporter\/drupal\/sites\/custom\/sites\/outreach\.uiowa\.edu\/modules\/custom\/outreach_maps\/sass\/outreach\.maps\.scss}line{font-family:\00003239}}
.appanoose, .cerro-gordo, .chickasaw, .buena-vista, .montgomery, .pocahontas,
.pottawattamie, .poweshiek, .black-hawk, .washington {
  margin-left: -40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rbporter\/drupal\/sites\/custom\/sites\/outreach\.uiowa\.edu\/modules\/custom\/outreach_maps\/sass\/outreach\.maps\.scss}line{font-family:\00003241}}
.appanoose.smaller, .cerro-gordo.smaller, .chickasaw.smaller, .buena-vista.smaller, .montgomery.smaller, .pocahontas.smaller,
.pottawattamie.smaller, .poweshiek.smaller, .black-hawk.smaller, .washington.smaller {
  margin-left: -20px;
}

/* =============================================================================
 *   House
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rbporter\/drupal\/sites\/custom\/sites\/outreach\.uiowa\.edu\/modules\/custom\/outreach_maps\/sass\/outreach\.maps\.scss}line{font-family:\00003249}}
.house-marker {
  margin-left: -10px;
  margin-top: -10px;
  font-size: 1.2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rbporter\/drupal\/sites\/custom\/sites\/outreach\.uiowa\.edu\/modules\/custom\/outreach_maps\/sass\/outreach\.maps\.scss}line{font-family:\00003255}}
.house-21 {
  margin-top: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rbporter\/drupal\/sites\/custom\/sites\/outreach\.uiowa\.edu\/modules\/custom\/outreach_maps\/sass\/outreach\.maps\.scss}line{font-family:\00003259}}
.house-72 {
  margin-left: 5px;
}

/* =============================================================================
 *   Senate
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rbporter\/drupal\/sites\/custom\/sites\/outreach\.uiowa\.edu\/modules\/custom\/outreach_maps\/sass\/outreach\.maps\.scss}line{font-family:\00003267}}
.senate-marker {
  margin-left: -10px;
  margin-top: -10px;
  font-size: 1.2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rbporter\/drupal\/sites\/custom\/sites\/outreach\.uiowa\.edu\/modules\/custom\/outreach_maps\/sass\/outreach\.maps\.scss}line{font-family:\00003273}}
.senate-1 {
  margin-top: -30px;
}

/* =============================================================================
*   Congessional
* ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rbporter\/drupal\/sites\/custom\/sites\/outreach\.uiowa\.edu\/modules\/custom\/outreach_maps\/sass\/outreach\.maps\.scss}line{font-family:\00003280}}
.congressional-marker {
  margin-left: -10px;
  margin-top: -10px;
  font-size: 1.2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rbporter\/drupal\/sites\/custom\/sites\/outreach\.uiowa\.edu\/modules\/custom\/outreach_maps\/sass\/outreach\.maps\.scss}line{font-family:\00003287}}
.congressionalMap-processed #district-4-content .field-name-field-county .field-item {
  width: 25%;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rbporter\/drupal\/sites\/custom\/sites\/outreach\.uiowa\.edu\/modules\/custom\/outreach_maps\/sass\/outreach\.maps\.scss}line{font-family:\00003290}}
.congressionalMap-processed #district-4-content .field-name-field-county .field-item .odd {
  text-align: right;
}

/* =============================================================================
*   jQuery UI Overrides
* ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rbporter\/drupal\/sites\/custom\/sites\/outreach\.uiowa\.edu\/modules\/custom\/outreach_maps\/sass\/outreach\.maps\.scss}line{font-family:\00003299}}
.ui-widget {
  font-family: Arial, Helvetica, sans-serif;
}
