@import "compass/css3";

.node-type-county{
	.panel-col-top{
		padding-bottom: 20px;
		border-bottom: 1px solid $border-color;
	}

	.center-wrapper{
		@include clearfix();
		.panel-col-first{
			@include grid-span(9,1);
			padding-right: 40px;
		}
		.panel-col-last{
			@include sidebar();
			padding-left: 0;
			width: 196px;
		}
	}

	.panel-col-last{
		.panel-pane{
			border-top: 3px solid $accent-color;
			margin-top: 20px;
		}
	}

	.pane-county-data-county-professionals-pane {
		@include clearfix();
		h2.pane-title{
			margin: 20px 0;
			font-size: 1.4em;
		}
		.views-row{
			@include display-flex(flex);
			@include flex-flow(row wrap);
			@include justify-content(space-around);
		}

		.views-field{
			text-align: center;
			width: 30%;
			@include flex-grow(1);
			margin-bottom: 30px;
			p{
				margin: 0;
				&.number{
					font-size: 3.4em;
					font-weight: 600;
					line-height: 1.2em;
				}
			}

		}
	}

	.pane-county-data-county-undergrad-pane,
	.pane-county-data-county-grad-students-pane{
		width: 40%;
		margin-right: 10%;
		margin-bottom: 40px;
		float: left;
		.pane-title{
			font-size: 1.3em;
		}
		.views-table{
			width: 100%;
			border-top: 1px solid $border-color;
			th, td{
				background-color: #FFF;
				font-weight: 300;
				padding: 5px 0;
				border-bottom: 1px solid $border-color;
				&.views-field-expression{
					font-weight: 600;
				}
			}
		}
	}


	.pane-profiles-profile-for-county-pane{
		clear: both;
		.views-field-field-profile-photo{
			float: left;
			margin: 0 40px 20px 0;
		}

		.views-field-title{
			font-size: 1.4em;
			font-weight: 600;
		}

		.views-field-field-profile-attributes{
			.clearfix{
				&:after{
					content: none;
				}
			}
			ul{
				list-style-type: none;
				margin-bottom: 0;
			}
			.field--name-field-profile-attribute-title,
			.field--name-field-profile-attribute-value{
				display: inline;
				div{
					display: inline;
				}
			}
			.field--name-field-profile-attribute-title{
				font-weight: 600;
				&:after{
					content:': ';
				}
			}
		}

		.views-field-field-county-reference{
			display: inline;
			div{
				display: inline;
			}
			.views-label{
				font-weight: 600;
			}
		}
	}

	.pane-1{
		clear: both;
	}

	.pane-node-field-county-hometown-hawkeye{
		.field-collection-container{
			border-bottom: 0;
		}
		.field-collection-item-field-county-hometown-hawkeye{
			padding: 0;
			margin: 0;
			font-weight: 400;
			font-size: 0.8em;
			line-height: 1.3em;
		}
	}
}
