@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,300italic);

$sans-serif: "Source Sans Pro", Helvetica, Arial, sans-serif;

html{
	font-size: 62.5%;
	font-family: $sans-serif;
}

